<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498059487775-o7330tqg804se2r71ba4ie88utuapsku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498059487775-o7330tqg804se2r71ba4ie88utuapsku</string>
	<key>API_KEY</key>
	<string>AIzaSyAIr-wmbOOuYIizNbUut5_igAH78H2fe0A</string>
	<key>GCM_SENDER_ID</key>
	<string>498059487775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.playground</string>
	<key>PROJECT_ID</key>
	<string>playground-97ada</string>
	<key>STORAGE_BUCKET</key>
	<string>playground-97ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498059487775:ios:444d0c5d2b7453980b832a</string>
</dict>
</plist>